<div id ="welcome">
	<span>Welcome to CDPSfy</span><br>
	<br>
	<span>In this website you can listen the uploaded tracks and upload your own tracks.</span>	

	<br>
<br>
	<span> This website has been created by CDPS's teachers in collaboration with:<br>
	<br>
	<br> Antonio San Agustin García<br>
	 <br> Javier Rueda Pérez. 
	<br><br>
Thanks for join us. </span>
</div>
